/* autoprefixer grid: autoplace */
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Viga", sans-serif;
}

$white: #eff0f4;
$ligth-white: #f8f8f8;
$green: #73a700;
$black-333: #333;
$black-444: #444;
$black-555: #555;
$salmon: salmon;

$outer-shadow: 3px 3px 2px #d0d0d0,
-3px -3px 2px #f8f8f8;
$outer-shadow-0: 0 0 0 #d0d0d0,
0 0 0 #f8f8f8;
$inner-shadow: inset 3px 3px 3px #d0d0d0,
inset -3px -3px 3px #f8f8f8;

.outer-shadow {
	box-shadow: $outer-shadow;
}

.inner-shadow {
	box-shadow: $inner-shadow;
}

.hover-in-shadow {
	position: relative;
	z-index: 1;
}

.hover-in-shadow:hover {
	box-shadow: $outer-shadow-0;
	color: $green;
}

.hover-in-shadow:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
}

.hover-in-shadow:hover:after {
	box-shadow: $inner-shadow;
	border-radius: 10px;
}

body {
	background: $white;
	scroll-behavior: smooth;
	margin: 0;
}

#__next {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

a {
	text-decoration: none;
}

.btn-style {
	padding: 10px 25px;
	font-size: 16px;
	font-weight: 500;
	background-color: transparent;
	line-height: 1.5;
	cursor: pointer;
	transition: all 0.3s ease;
	border-radius: 10px;
	display: inline-block;
	color: $green;
	transition: 0.3s ease;
	box-shadow: $outer-shadow;
}

.btn-style:hover {
	color: $green;
}

/*
  HEADER
*/
header {
	width: 100%;
	padding: 2px 8px;
	transition: .3s ease;
}

header.sticky {
	background-color: $ligth-white;
	padding: 5px 10px;
}

.container .navbar-item ul {
	margin: 0 auto;
}

.container .navbar-item ul li {
	margin: 0 5px;
	transition: .3s ease;
}

.container .navbar-item ul li a {
	font-weight: bold;
	color: $black-444;
	transition: 0.3s ease;
}

.container .navbar-item ul li a:hover {
	color: $green;
}

.container .logo {
	font-weight: bold;
	font-size: 1.5em;
	color: $black-444;
}

.container .logo i {
	color: $green;
	font-size: 1.2em;
}

.container .logo span {
	color: $green;
}

// SCROLLBAR CUSTOM
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: $green;
}

/* 
    SECTION HOME
*/
.home {
	margin-top: 10rem;
}

.home .row .info-home {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.home .row .info-home .text-home h4 {
	font-weight: bold;
	color: $black-555;
}

.home .row .info-home .text-home h2 {
	color: $green;
	font-weight: bold;
	font-size: 3em;
	margin: 10px 0;
}

.home .row .info-home .text-home p {
	color: $black-444;
}

.home .row .img-home .img-fluid {
	width: 100%;
}

.text-home>.detail {
	margin-left: 20px;
	color: $green;
}

.logo {
	font-weight: bold;
	font-size: 1.5em;
	color: $black-444;
}

.logo i {
	color: $green;
	font-size: 1.2em;
}

.logo span {
	color: $green;
}

/* 
  SECTION ABOUT
*/

.about {
	margin-top: 6rem;
}

.about .row .info-about {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.home .row .info-home .text-home h4 {
	font-weight: bold;
	color: $black-555;
}

.about .row .info-about .text-about h3 {
	color: $green;
	font-weight: bold;
	font-size: 2em;
	margin: 10px 0;
}

.about .row .info-about .text-about p {
	color: $black-444;
}

.about .row .img-about .img-fluid {
	width: 100%;
}

.share-box {
	min-height: 15rem;
}

/* 
  LOGIN
*/
.container {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.login-form,
.register-form {
	margin-top: 5rem;
	width: 430px;
	padding: 0 35px;
	background: $ligth-white;
	border: none;
}

input[type="email"],
input[type="password"],
input[type="username"],
input[type="text"] {
	border-radius: 20px;
	border: 2px solid rgb(224, 224, 224);
	min-width: 44px;
	min-height: 44px;
}

.link {
	display: inline-block;
	min-width: 44px;
	min-height: 44px;
}

.btn-login {
	height: 35px;
	border-radius: 20px;
	font-weight: 700;
	min-width: 44px;
	min-height: 44px;
	margin-top: -40px;
	background-color: $green;
	color: white;
	transition: 0.3s ease;
}

.btn-login:hover {
	background: $green;
	color: $ligth-white;
	letter-spacing: 1px;
}

.btn-register {
	margin-top: 10px;
	height: 35px;
	border-radius: 20px;
	font-weight: 700;
	min-width: 44px;
	min-height: 44px;
	margin-top: -20px;
	background-color: $green;
	color: white;
}

.link {
	color: $green;
	text-decoration: none;
}

.link:hover {
	color: $green;
	text-decoration: none;
}

/* 
OUR TEAMS
*/
.our-team {
	margin-top: 8rem;
	padding: 20px;
	width: 100%;
}

.our-team .team-title {
	color: $black-333;
	font-weight: bold;
}

.our-team .team-title span {
	color: $green;
}

.our-team .row-team {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
}

.team-card {
	position: relative;
	width: 225px;
	height: 225px;
	box-shadow: $outer-shadow;
	padding-inline-end: 25px;
	border-radius: 50%;
	transition: 0.4s ease-in-out;
}

.team-card:hover {
	border-radius: 10px;
	height: 270px;
}

.team-card .image {
	position: relative;
	width: 100%;
	height: 100%;
	left: 4%;
	top: 7%;
	transition: 0.4s ease-in-out;
}

.team-card:hover .image {
	transform: translate(0, -65px);
}

.team-card .image img {
	width: 100%;
	transition: 0.4s ease-in-out;
	border-radius: 50%;
	cursor: pointer;
	border: 6px solid $green;
}

.team-card:hover .image img {
	border-radius: 10px;
}

.caption {
	transform: translateY(-115px);
	text-align: center;
	margin-left: 12px;
	opacity: 0;
	visibility: hidden;
	transition: 0.4s ease-in-out;
}

.team-card:hover .caption {
	opacity: 1;
	visibility: visible;
}

.caption h4 {
	color: $black-333;
}

.caption p {
	color: $black-555;
}

.caption .sosmed {
	padding: 2px;
}

.caption .sosmed a {
	list-style: none;
	margin: 0 6px;
	font-size: 18.5px;
}

.caption .sosmed a i {
	color: $black-555;
}

.caption .sosmed a i:hover {
	color: $green;
}

/*
  GALLERY
*/
.gallery-title {
	color: $black-333;
	font-weight: bold;
}

.gallery-title span {
	color: $green;
}

.button-gallery {
	padding: 10px;
	width: 100%;
}

.button-gallery ul {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 15px;
}

.button-gallery ul li {
	list-style: none;
	padding: 12px 25px;
	box-shadow: $outer-shadow;
	border-radius: 20px;
	cursor: pointer;
	font-weight: bold;
	color: $black-555;
}

.button-gallery ul li.active {
	color: $green;
}

.gallery-item {
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.gallery-item .item {
	padding: 10px 15px;
	box-shadow: $outer-shadow;
	border-radius: 5px;
	color: $black-333;
}

.gallery-item .item.show {
	animation: Fade .5s ease-in-out;
}

// animation
@keyframes Fade {
	0% {
		opacity: 0;
		visibility: hidden;
	}

	100% {
		opacity: 1;
		visibility: visible;
	}
}

.gallery-item .item.hide {
	display: none;
}

.gallery-item .item img {
	width: 100%;
	cursor: pointer;
	border-radius: 5px;
}

.gallery-item .item img:hover {
	transform: translateY(-8px);
}

/* FOOTER */
footer {
	width: 100%;
	background: #ddd;
	color: $black-444;
}

footer .content-footer {
	width: 100%;
	padding: 20px;
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(3, 1fr);
}

footer .content-footer .box-footer {
	padding: 5px;
}

footer .content-footer .box-footer h4 {
	border-bottom: 1px solid $black-444;
	width: 170px;
}

footer .content-footer .logo-footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .content-footer .logo-footer h1 i {
	color: $green;
}

footer .content-footer .copyright {
	grid-column: 1/4;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #555;
}