@media screen and (max-width: 599px) {
	.our-team .row-team {
		gap: 45px;
	}

	.team-card {
		margin: 10px 0;
	} 

	.gallery-item {
		grid-template-columns: repeat(1,1fr);
	}
  
	.button-gallery ul{
		grid-template-columns: repeat(1, 1fr);
	}

	.button-gallery ul li {
		margin-right: 35px;
	}
}

@media screen and (min-width: 600px) {
	.our-team .row-team {
		gap: 45px;
	}

	.team-card {
		margin: 10px 10px;
	}

	.gallery-item {
		grid-template-columns: repeat(2,1fr);
	}
  
	.button-gallery ul{
		grid-template-columns: repeat(4, 1fr);
	}

}

@media screen and (min-width: 650px) {
	.app-bar {
		grid-template-columns: 1fr auto;
		padding: 8px 32px;
	}

	.app-bar .app-bar__brand h1 {
		font-size: 1.5em;
	}

	.app-bar .app-bar__menu {
		display: none;
	}

	.app-bar .app-bar__navigation {
		position: static;
		width: 100%;
	}

	.app-bar .app-bar__navigation ul li {
		display: inline-block;
	}

	.app-bar .app-bar__navigation ul li a {
		display: inline-block;
		width: 120px;
		text-align: center;
		margin: 0;
	}
}

@media screen and (min-width: 800px) {
	.app-bar .app-bar__brand h1 {
		font-size: 2em;
	}

	.gallery-item {
		grid-template-columns: repeat(3,1fr);
	}
  
	.button-gallery ul{
		grid-template-columns: repeat(5, 1fr);
	}
}

@media screen and (min-width: 1200px) {
	.our-team .row-team {
		gap: 45px;
		height: 350px;
	}

	.team-card {
		margin: 10px 0;
	}

	.gallery-item {
		grid-template-columns: repeat(4,1fr);
	}
  
	.button-gallery ul{
		grid-template-columns: repeat(5, 1fr);
	}
  
  
}
