// CUSTOM WARNA
$white: #eff0f4;
$ligth-white: #f8f8f8;
$green: #73a700;
$black-333: #333;
$black-444: #444;
$black-555: #555;
$error:#E51937;
$salmon: salmon;
$skeleton: #d9d9d9;
$bg-skeleton: linear-gradient(to right, #d9d9d9 0%, rgba(0, 0, 0, 0.05) 20%, #d9d9d9 40%, #d9d9d9 100%);

$outer-shadow: 3px 3px 2px #d0d0d0,
-3px -3px 2px #f8f8f8;
$outer-shadow-0: 0 0 0 #d0d0d0,
0 0 0 #f8f8f8;
$inner-shadow: inset 3px 3px 3px #d0d0d0,
inset -3px -3px 3px #f8f8f8;

@media screen and (max-width: 599px) {
	header {
		background: #f8f8f8;
	}


	.home {
		margin-top: 5rem;
	}

	.our-team .row-team {
		gap: 45px;
	}

	.wu-box {
		position: relative;
		padding: 10px;
		box-shadow: $outer-shadow;
		border-radius: 10px;
		transition: 0.3s ease;
		cursor: pointer;
		z-index: 100;
		min-height: 150px;
	}

	.offcanvas-backdrop {
		display: none;
	}

	.team-card {
		margin: 10px 0;
	}

	.gallery-item {
		grid-template-columns: repeat(1, 1fr);
	}

	.button-gallery ul {
		grid-template-columns: repeat(1, 1fr);
	}

	.button-gallery ul li {
		margin-right: 35px;
		width: 20rem;
	}

	footer .content-footer {
		grid-template-columns: repeat(1, 1fr);
	}

	footer .content-footer .logo-footer {
		justify-content: center;
	}

	footer .content-footer .box-footer h4 {
		width: 100%;
	}

}

@media screen and (min-width: 600px) {
	header {
		background: #f8f8f8;
	}


	.our-team .row-team {
		gap: 45px;
	}

	.team-card {
		margin: 10px 10px;
	}

	.wu-box {
		position: relative;
		padding: 10px;
		box-shadow: $outer-shadow;
		border-radius: 10px;
		transition: 0.3s ease;
		cursor: pointer;
		z-index: 100;
		min-height: 160px;
	}

	.offcanvas-backdrop {
		display: none;
	}

	.gallery-item {
		grid-template-columns: repeat(2, 1fr);
	}

	.button-gallery ul {
		grid-template-columns: repeat(4, 1fr);
	}

	footer .content-footer {
		grid-template-columns: repeat(1, 1fr);
	}

	footer .content-footer .box-footer h4 {
		width: 100%;
	}

}

@media screen and (max-width: 800px) {
	.search-bar {
		display: none;
	}

}

@media screen and (min-width: 800px) {
	header {
		background: #f8f8f8;
	}

	.offcanvas-header,
	.navbar-toggler {
		display: none;
	}



	.gallery-item {
		grid-template-columns: repeat(3, 1fr);
	}

	.button-gallery ul {
		grid-template-columns: repeat(5, 1fr);
	}

	footer .content-footer {
		grid-template-columns: repeat(3, 1fr);
	}

	footer .content-footer .box-footer h4 {
		width: 170px;
	}

	#sidebar {
		transform: none;
		visibility: visible !important;
	}

	#sidebar {
		top: 67px;
		height: calc(100% - 67px);
	}

	.beranda {
		margin-left: 270px;
	}
}

@media screen and (min-width: 1200px) {
	header {
		background: none;
	}

	.our-team .row-team {
		gap: 45px;
		height: 350px;
	}

	.team-card {
		margin: 10px 0;
	}

	.gallery-item {
		grid-template-columns: repeat(4, 1fr);
	}

	.button-gallery ul {
		grid-template-columns: repeat(5, 1fr);
	}

	footer .content-footer {
		grid-template-columns: repeat(3, 1fr);
	}

	.wu-box {
		position: relative;
		padding: 10px;
		box-shadow: $outer-shadow;
		border-radius: 10px;
		transition: 0.3s ease;
		cursor: pointer;
		z-index: 100;
		min-height: 200px;
	}
}