@media screen and (max-width: 599px) {
	header {
		background: #f8f8f8;
	}

	.home {
		margin-top: 5rem;
	}

	.our-team .row-team {
		gap: 45px;
	}

	.team-card {
		margin: 10px 0;
	} 

	.gallery-item {
		grid-template-columns: repeat(1,1fr);
	}
  
	.button-gallery ul{
		grid-template-columns: repeat(1, 1fr);
	}

	.button-gallery ul li {
		margin-right: 35px;
		width: 20rem;
	}

	[data-aos='fade-right'] {
		transform: translate3d(0);
	}
	  
	[data-aos='fade-left'] {
		transform: translate3d(0);
	}

	footer .content-footer {
		grid-template-columns: repeat(1, 1fr);
	}

	footer .content-footer .logo-footer {
		justify-content: center;
	}

	footer .content-footer .box-footer h4 {
		width: 100%;
	}
	
}

@media screen and (min-width: 600px) {
	header {
		background: #f8f8f8;
	}

	.our-team .row-team {
		gap: 45px;
	}

	.team-card {
		margin: 10px 10px;
	}

	.gallery-item {
		grid-template-columns: repeat(2,1fr);
	}
  
	.button-gallery ul{
		grid-template-columns: repeat(4, 1fr);
	}

	footer .content-footer {
		grid-template-columns: repeat(1, 1fr);
	}

	footer .content-footer .box-footer h4 {
		width: 100%;
	}

}

@media screen and (min-width: 800px) {
	header {
		background: #f8f8f8;
	}

	.gallery-item {
		grid-template-columns: repeat(3,1fr);
	}
  
	.button-gallery ul{
		grid-template-columns: repeat(5, 1fr);
	}

	footer .content-footer {
		grid-template-columns: repeat(3, 1fr);
	}

	footer .content-footer .box-footer h4 {
		width: 170px;
	}

	#sidebar {
		transform: none;
		visibility: visible !important;
	}

	#sidebar {
		top: 67px;
		height: calc(100% - 67px);
	}

	.beranda {
		margin-left: 270px;
	}
}

@media screen and (min-width: 1200px) {
	header {
		background: none;
	}

	.our-team .row-team {
		gap: 45px;
		height: 350px;
	}

	.team-card {
		margin: 10px 0;
	}

	.gallery-item {
		grid-template-columns: repeat(4,1fr);
	}
  
	.button-gallery ul{
		grid-template-columns: repeat(5, 1fr);
	}
  
	footer .content-footer {
		grid-template-columns: repeat(3, 1fr);
	}
}
